<% layout('./layouts/boilerplate') -%>
<link rel="stylesheet" href="/stylesheets/new.css">

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card shadow mb-4">
            <div class="card-body">
                <h4 class="card-title text-center">Edit Court</h4>
                <form action="/courts/<%= foundCourt._id %>?_method=PUT" method="POST"
                    enctype="multipart/form-data" class="needs-validation" novalidate>
                    <div class="mb-3">
                        <label class="form-label" for="title">Street Name</label>
                        <input class="form-control" type="text" id="title" name="court[title]"
                            value="<%= foundCourt.title %>" required>
                        <div class="invalid-feedback">
                            This field cannot be left blank.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="location">Location</label>
                        <input class="form-control" type="text" id="location" name="court[location]"
                            value="<%= foundCourt.location %>" required>
                        <div class="invalid-feedback">
                            This field cannot be left blank.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="formFileMultiple" class="form-label">Add images</label>
                        <input class="form-control" type="file" id="formFileMultiple" name="image" multiple>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="price">Entry Price</label>
                        <div class="input-group">
                            <span class="input-group-text" id="price-label">$</span>
                            <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                                aria-describedby="price-label" name="court[price]" value="<%= foundCourt.price %>"
                                required>
                            <div class="invalid-feedback">
                                This field cannot be left blank.
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="description">Description</label>
                        <textarea class="form-control" type="text" id="description" name="court[description]"
                            required><%= foundCourt.description %></textarea>
                        <div class="invalid-feedback">
                            This field cannot be left blank.
                        </div>
                    </div>
                    <div class="mb-3">
                        <% foundCourt.images.forEach((img,i)=>{ %>
                        <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="">
                        <div class="form-check-inline">
                            <input type="checkbox" name="deleteImages[]" id="image-<%= i %> "
                                value="<%= img.filename %>">
                        </div>
                        <label for="image-<%= i %> ">Delete</label>
                        <% }) %>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-info">Update</button>
                    </div>
                </form>
                <div class="back mb-3">
                    <a href="/courts/<%= foundCourt._id %> "><img src="/img/left-arrow.png"> Back</a>
                </div>
            </div>
        </div>
    </div>
</div>