<% layout('./layouts/boilerplate') -%>

<link rel="stylesheet" href="/stylesheets/index.css">


<div id="cluster-map" class="mb-5"></div>  <!-- clustermap -->

    <ul class="px-5">
        <% for( court of foundCourts) { %>  <!-- Loops over all foundcourts and creates a card for each-->
        <div class="card mb-4">
            <div class="row">
                <div class="col-md-4">
                    <!-- if there are any images added to the court, it sets the first one for the card, else sets a default image-->
                    <% if(court.images.length){ %>
                    <img src="<%= court.images[0].url %> " class="img-fluid cover-img">
                    <% } else {%>
                    <img class="img-fluid cover-img" src="https://res.cloudinary.com/parthpatel6347/image/upload/v1607541459/streetCourts/sergio-souza-Teuqf46xdOQ-unsplash_nio5de.jpg"
                        alt="">
                    <% } %>
                </div>
                <div class="col-md-8">
                    <h5 class="card-title mt-2"><%= court.title %></h5>
                    <p class="card-text"><%= court.description %></p>
                    <p class="card-text">
                        <small class="text-muted">
                            <%= court.location %>
                        </small>
                    </p>
                    <a href="/courts/<%= court._id %>" class="btn btn-primary">View court</a>
                </div>
            </div>
        </div>
        <% } %>
    </ul>


<!-- variables created to be used in the clusterMap.js script. Map token and court data-->
<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN %>'
    const courts = { features: <%- JSON.stringify(foundCourts) %>} 
</script>

<script src="/scripts/clusterMap.js"></script>